.home {
    background: linear-gradient(#F5BFBD, #EEF4E6);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .home_large {
        font-size: 50px;
        text-align: center;
        color: white;
    }
    .home_small {
        display: block;
        font-size: 20px;
        text-align: center;
        color: white;
    }
    .hr {
        width: 500px;
        border-top: 3px solid white;
    }
    .start {
        position: static;
        background: linear-gradient(#E38F9F, #F5BFBD);
        border: none;
        outline: none;
        width: 150px;
        height: 80px;
        font-size: 30px;
        font-weight: bolder;
        border-radius: 30px;
        box-shadow: 3px 3px 5px gray;
        cursor: pointer;
        margin-top: 30px;
        transition: all 0.1s;
        &:hover {
            margin-top: 24px;
            width: 156px;
            height: 86px;
            font-size: 31px;
        }
    }
    .imagebox {
        text-align: center;
    }
}