
.TodoListItem {
    display: flex;
    align-items: center;
    height: 50px;
    .checkbox {
        cursor: pointer;
        flex: 1;
        display: flex;
        align-items: center;
        svg {
            font-size: 40px;
            color: #df8394;
        }
        .text {
            padding-left: 10px;
            border-radius: 10px;
            background: linear-gradient(#E38F9F, #F5BFBD);
            margin-left: 0.5rem;
            flex: 1;
            color: black;
            font-size: 20px;
            height: 40px;
            line-height: 40px;
            margin-right: 10px;
            box-shadow: 3px 3px 5px gray;;
        }
        &.checked {
            svg {
                color: #df8394;
            }
            .text {
                color: #adb5bd;
                text-decoration: line-through;
            }
        }
    }
    .remove {
        display: flex;
        align-items: center;
        font-size: 30px;
        color: #ff6b6b;
        cursor: pointer;
        &:hover {
            color: #ff8787;
        }
    }
    &+& {
        margin-top: 20px;
    }
}